@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

/* @tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.fi-simple-main-ctn {
    @apply justify-end 
           bg-white;
}

.fi-simple-main {
    @apply rounded-none 
           h-screen 
           m-0 
           bg-white
           flex 
           justify-center 
           items-center;

    .fi-simple-page {
        @apply w-full;
    }

    .fi-logo,
    h1,
    .fi-fo-field-wrp-label span {
        @apply text-gray-900;
    }
} */